<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Re:SOLv - Solana NFT Viewer - {{error}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>

<body class="body-color d-flex flex-column align-items-center vh-100">
    <main class="root flex-grow-1 d-flex align-items-center vw-100">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <i class="bi-exclamation-diamond-fill" style="font-size: 8rem;" role="img" aria-label="Warning"></i>
                    <h1>{{status_code}} - {{error}}</h1>
                    <h5 class="text-muted">Sorry, that page you were looking for doesn't exist.</h5>
                    <p class="text-muted">The link you followed may be broken, or the page may have been removed.</p>
                    <a class="btn btn-primary" href="/">Go back home</a>
                </div>
            </div>
        </div>        
    </main>
    
    <footer class="footer mt-auto py-3 vw-100 bg-light">
        <div class="container">
            <span id="version-display" class="text-muted">Solana RPC</span>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
    <script type="text/javascript">
        $(() => {
            const getVersion = (() => {
                const versionDisplay = $("#version-display")
                return fetch(`/solana_version`)
                    .then((resp) => resp.json())
                    .then((json) => {
                        versionDisplay.text(`Solana RPC v${json.version}`)
                    })
            })

            getVersion().catch((err) => console.error(err))
        })
    </script>
</body>

</html>